{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
{% include 'includes/header.html' %}

{% block content %}
{% endblock %}


<script src="{% static 'scripts/main.js' %}"></script>
</body>
</html>