<div class="my-2 my-lg-0">
    <a href="/wish-list/" class="btn btn-warning">Не забыть почитать
        ({{ request.session.read_article|length }})</a>
    <a href="/articles/">Статьи от пользователей</a>
    {% if request.user.is_authenticated %}
    <a class="btn btn-info" href="/cabinet/">Мой кабинет</a>

    <a class="btn btn-success" href="/logout/">Выход({{ request.user.username }})</a>
    {% else %}
    <a href="/login/" class="btn btn-success">Вход</a>
    <a href="/register/" class="btn btn-primary">Регистрация</a>
    {% endif %}
</div>