{% extends 'index.html' %}

{% block content %}
    <form action="/change-book/{{form.instance.id}}" method="post">
    {% csrf_token %}
{{ form }}
        <button>Submit!</button>
    </form>
{% endblock %}