{% extends 'index.html' %}

{% block content %}
<h1>Login!</h1>

<a href="/register/">Нет аккаунта?</a>
<form action="." method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="exampleInputEmail1">Username</label>
        <input type="text" class="form-control"
               id="exampleInputEmail1"
               aria-describedby="emailHelp"
               name="username">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password"
               class="form-control"
               id="exampleInputPassword1"
               placeholder="Password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    {% if error %}
    <p class="alert alert-warning">{{error}}</p>
    {% endif %}
</form>

{% endblock %}